---
Checks: "-*,\
boost-*,\
bugprone-*,\
-bugprone-branch-clone,\
-bugprone-exception-escape,\
-bugprone-inaccurate-erase,\
-bugprone-incorrect-roundings,\
-bugprone-integer-division,\
-bugprone-misplaced-widening-cast,\
-bugprone-narrowing-conversions,\
-bugprone-reserved-identifier,\
-bugprone-sizeof-expression,\
-bugprone-string-integer-assignment,\
-bugprone-unhandled-self-assignment,\
-cert-*,\
-cppcoreguidelines-*,\
clang-analyzer-*,\
-clang-analyzer-core.CallAndMessage,\
-clang-analyzer-core.DivideZero,\
-clang-analyzer-core.NonNullParamChecker,\
-clang-analyzer-core.NullDereference,\
-clang-analyzer-core.UndefinedBinaryOperatorResult,\
-clang-analyzer-core.uninitialized.Assign,\
-clang-analyzer-core.uninitialized.Branch,\
-clang-analyzer-cplusplus.NewDelete,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
-clang-analyzer-deadcode.DeadStores,\
-clang-analyzer-optin.cplusplus.UninitializedObject,\
-clang-analyzer-optin.cplusplus.VirtualCall,\
-clang-analyzer-security.FloatLoopCounter,\
-clang-analyzer-security.insecureAPI.strcpy,\
-google-readability-casting,\
-hicpp-*,\
misc-*,\
-misc-no-recursion,\
-misc-non-private-member-variables-in-classes,\
-misc-redundant-expression,\
-misc-throw-by-value-catch-by-reference,\
modernize-*,\
-modernize-avoid-c-arrays,\
-modernize-loop-convert,\
-modernize-pass-by-value,\
-modernize-raw-string-literal,\
-modernize-return-braced-init-list,\
-modernize-use-auto,\
-modernize-use-trailing-return-type,\
-modernize-use-using,\
mpi-*,\
openmp-*,\
performance-*,\
-performance-inefficient-string-concatenation,\
-performance-move-const-arg,\
-performance-trivially-destructible,\
-performance-type-promotion-in-math-fn,\
-performance-unnecessary-value-param,\
portability-*,\
readability-*,\
-readability-braces-around-statements,\
-readability-const-return-type,\
-readability-convert-member-functions-to-static,\
-readability-else-after-return,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
-readability-implicit-bool-conversion,\
-readability-inconsistent-declaration-parameter-name,\
-readability-isolate-declaration,\
-readability-magic-numbers,\
-readability-make-member-function-const,\
-readability-named-parameter,\
-readability-non-const-parameter,\
-readability-redundant-access-specifiers,\
-readability-redundant-control-flow,\
-readability-uppercase-literal-suffix,\
"
#WarningsAsErrors: "*"
...
