---
Checks: "-*,\
boost-*,\
-boost-use-ranges,\
bugprone-*,\
-bugprone-assignment-in-if-condition,\
-bugprone-branch-clone,\
-bugprone-casting-through-void,\
-bugprone-crtp-constructor-accessibility,\
-bugprone-easily-swappable-parameters,\
-bugprone-empty-catch,\
-bugprone-exception-escape,\
-bugprone-implicit-widening-of-multiplication-result,\
-bugprone-inaccurate-erase,\
-bugprone-inc-dec-in-conditions,\
-bugprone-incorrect-roundings,\
-bugprone-integer-division,\
-bugprone-macro-parentheses,\
-bugprone-misplaced-widening-cast,\
-bugprone-multi-level-implicit-pointer-conversion,\
-bugprone-narrowing-conversions,\
-bugprone-reserved-identifier,\
-bugprone-return-const-ref-from-parameter,\
-bugprone-signed-char-misuse,\
-bugprone-sizeof-expression,\
-bugprone-suspicious-include,\
-bugprone-string-integer-assignment,\
-bugprone-switch-missing-default-case,\
-bugprone-unhandled-exception-at-new,\
-bugprone-unhandled-self-assignment,\
-bugprone-unused-local-non-trivial-variable,\
-cert-*,\
-cppcoreguidelines-*,\
clang-analyzer-*,\
-clang-analyzer-core.CallAndMessage,\
-clang-analyzer-core.DivideZero,\
-clang-analyzer-core.NonNullParamChecker,\
-clang-analyzer-core.NullDereference,\
-clang-analyzer-core.UndefinedBinaryOperatorResult,\
-clang-analyzer-core.uninitialized.Assign,\
-clang-analyzer-core.uninitialized.Branch,\
-clang-analyzer-cplusplus.NewDelete,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
-clang-analyzer-cplusplus.PureVirtualCall,\
-clang-analyzer-deadcode.DeadStores,\
-clang-analyzer-optin.core.EnumCastOutOfRange,\
-clang-analyzer-optin.cplusplus.UninitializedObject,\
-clang-analyzer-optin.cplusplus.VirtualCall,\
-clang-analyzer-security.FloatLoopCounter,\
-clang-analyzer-security.insecureAPI.strcpy,\
-google-readability-casting,\
-hicpp-*,\
misc-*,\
-misc-const-correctness,\
-misc-header-include-cycle,\
-misc-include-cleaner,\
-misc-no-recursion,\
-misc-non-private-member-variables-in-classes,\
-misc-redundant-expression,\
-misc-throw-by-value-catch-by-reference,\
-misc-use-anonymous-namespace,\
-misc-use-internal-linkage,\
modernize-*,\
-modernize-avoid-bind,\
-modernize-avoid-c-arrays,\
-modernize-concat-nested-namespaces,\
-modernize-loop-convert,\
-modernize-macro-to-enum,\
-modernize-make-unique,\
-modernize-pass-by-value,\
-modernize-raw-string-literal,\
-modernize-return-braced-init-list,\
-modernize-type-traits,\
-modernize-use-auto,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
-modernize-use-using,\
mpi-*,\
openmp-*,\
performance-*,\
-performance-avoid-endl,\
-performance-enum-size,\
-performance-inefficient-string-concatenation,\
-performance-move-const-arg,\
-performance-trivially-destructible,\
-performance-type-promotion-in-math-fn,\
-performance-unnecessary-copy-initialization,\
-performance-unnecessary-value-param,\
portability-*,\
readability-*,\
-readability-avoid-nested-conditional-operator,\
-readability-avoid-return-with-void-value,\
-readability-avoid-unconditional-preprocessor-if,\
-readability-braces-around-statements,\
-readability-const-return-type,\
-readability-container-data-pointer,\
-readability-container-size-empty,\
-readability-convert-member-functions-to-static,\
-readability-delete-null-pointer,\
-readability-duplicate-include,\
-readability-else-after-return,\
-readability-enum-initial-value,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
-readability-implicit-bool-conversion,\
-readability-inconsistent-declaration-parameter-name,\
-readability-isolate-declaration,\
-readability-magic-numbers,\
-readability-make-member-function-const,\
-readability-math-missing-parentheses,\
-readability-named-parameter,\
-readability-non-const-parameter,\
-readability-qualified-auto,\
-readability-redundant-access-specifiers,\
-readability-redundant-casting,\
-readability-redundant-control-flow,\
-readability-redundant-declaration,\
-readability-redundant-inline-specifier,\
-readability-redundant-member-init,\
-readability-redundant-smartptr-get,\
-readability-simplify-boolean-expr,\
-readability-static-accessed-through-instance,\
-readability-suspicious-call-argument,\
-readability-uppercase-literal-suffix,\
-readability-use-std-min-max,\
"
#WarningsAsErrors: "*"
...
