# Attributes used for formatting.
[attr]our-c-style   whitespace=tab-in-indent  format.clang-format
[attr]our-py-style  whitespace=tab-in-indent  format.autopep8

*.cxx   our-c-style
*.h     our-c-style
*.mm    our-c-style
*.txx   our-c-style

*.py    our-py-style

thirdparty/**  -format.clang-format -format.autopep8
