[submodule "thirdparty/delaunay"]
	path = thirdparty/delaunay
	url = https://github.com/tjcorona/Delaunay.git
[submodule "data/simulation-workflows"]
	path = data/simulation-workflows
	url = https://gitlab.kitware.com/cmb/simulation-workflows.git
