# Attributes used for formatting.
[attr]our-c-style   whitespace=tab-in-indent  format.clang-format=9
[attr]our-py-style  whitespace=tab-in-indent  format.autopep8
[attr]our-rst-style conflict-marker-size=100
# Attributes for binary and/or large files
[attr]lfs       filter=lfs diff=lfs merge=lfs -text

*.cxx   our-c-style
*.h     our-c-style
*.mm    our-c-style
*.txx   our-c-style

*.py    our-py-style

*.rst   our-rst-style

thirdparty/**  -format.clang-format -format.autopep8
**/pybind11/*  -format.clang-format

doc/**/*.png    lfs

data/**         lfs -format.autopep8
data/**/*.sbt  -lfs
data/**/*.md   -lfs
data/projects/**/*.project.smtk -lfs
data/projects/src/* -lfs
